In [8]:
import sqlite3

# Crear/conectarse a una BBDD
con = sqlite3.connect('mydatabase.db')

# Obtener el objeto con el que se maneja la BBDD
cursorObj = con.cursor()

# Crear una tabla
cursorObj.execute("CREATE TABLE IF NOT EXISTS empleados(nombre text PRIMARY KEY, salario real, departamento text, puesto text, fechaContrato text)")
con.commit()

# Borrar una tabla
cursorObj.execute('DROP TABLE IF EXISTS proyectos')
con.commit()

# Insertar una nueva entrada usando literales
cursorObj.execute("INSERT INTO empleados VALUES('Juan', 1700, 'Recursos Humanos', 'Gerente', '2017-01-04')")
con.commit()

# Seleccionar todo el contenido de la tabla
cursorObj.execute('SELECT * FROM empleados ')
rows = cursorObj.fetchall()
for row in rows:
    print(row)

# Insertar una nueva entrada usando variables
entities = ('Pepe', 1800, 'Informática', 'Técnico', '2018-02-06')
cursorObj.execute('INSERT INTO empleados(nombre, salario, departamento, puesto, fechaContrato) VALUES(?, ?, ?, ?, ?)', entities)
con.commit()

# Seleccionar todo el contenido de la tabla
cursorObj.execute('SELECT * FROM empleados ')
rows = cursorObj.fetchall()
for row in rows:
    print(row)

# Actualizar una entrada de la tabla
cursorObj.execute('UPDATE empleados SET salario = 1850 WHERE nombre = "Juan"')
con.commit()

# Seleccionar todo el contenido de la tabla
cursorObj.execute('SELECT * FROM empleados ')
rows = cursorObj.fetchall()
for row in rows:
    print(row)

# Actualizar una entrada de la tabla
cursorObj.execute('DELETE FROM empleados WHERE nombre = "Pepe"')
con.commit()

# Seleccionar todo el contenido de la tabla
cursorObj.execute('SELECT * FROM empleados ')
rows = cursorObj.fetchall()
for row in rows:
    print(row)
 
# Seleccionar los campos 'nombre' y 'salario' de los que cumplen la condición
cursorObj.execute('SELECT nombre, salario FROM empleados WHERE salario > 1800.0')
rows = cursorObj.fetchall()
for row in rows:
    print(row)        
    
# Cerrar la conexión con la BBDD    
con.close()

('Juan', 1850.0, 'Recursos Humanos', 'Gerente', '2017-01-04')
('Juan', 1850.0)